* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #032030, #006da4);
}

div {
  padding: 100px 0;
  color: white;
}

h2 {
  padding: 20px 0;
}

p {
  border-style: groove none;
  border-color: aqua;
  padding: 20px 0;
  font-size: 20px;
}

button {
  margin: 20px 0;
}

.btn {
  background: white;
  color: black;
}

.btn:hover {
  border: outset;
  border-color: aliceblue;
}
